<div class="container mt-4">
  <div class="text-center mb-4">
    <h1 class="task-heading">100 Posts Task</h1>
    <p class="task-subheading">
      Displaying posts using Angular, Bootstrap & Material
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let post of postsArr">
      <div class=" card h-100">

        <div class="card-header postCard">
          <h2 class="mb-0" [title]="post.title" matTooltip="{{ post.title }}" matTooltipPosition="above">{{ post.title
            }}</h2>
        </div>

        <div class="card-body">
          <p class="mb-0">{{ post.body }}</p>
        </div>

        <div class="card-footer d-flex justify-content-between">
          <button mat-raised-button color="primary">Edit</button>
          <button mat-raised-button color="warn">Remove</button>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="text-center mb-4">
    <h1 class="task-heading">Movies Data</h1>
    <p class="task-subheading">
      Displaying Movies Data using Angular, Bootstrap & Material
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let movie of moviesArr">
      <div class=" postCard card h-100">

        <div class="card-header">
          <h2 class="mb-0" [matTooltip]="movie.title" matTooltipPosition="above">
            {{ movie.title }}
          </h2>
        </div>

        <div class="card-body">
          <p class="mb-0">{{ movie.body }}</p>
        </div>

        <div class="card-footer d-flex justify-content-between">
          <button mat-raised-button color="primary">Edit</button>
          <button mat-raised-button color="warn">Remove</button>
        </div>

      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="text-center mb-4">
    <h1 class="task-heading">Skills Data</h1>
    <p class="task-subheading">
      Displaying Skills Data using Angular, Bootstrap & Material
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let skill of skillsArr">
      <div class="postCard card h-100">


        <div class="card-header">
          <h2 class="mb-0" [matTooltip]="skill.title" matTooltipPosition="above">
            {{ skill.title }}
          </h2>
        </div>


        <div class="card-body">
          <p class="mb-0">{{ skill.body }}</p>
        </div>

        <mat-card-actions class="d-flex justify-content-between">
          <button mat-button color="warn">LIKE</button>

          <button mat-button color="primary">SHARE</button>
        </mat-card-actions>

      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="text-center mb-4">
    <h1 class="task-heading">Book Data</h1>
    <p class="task-subheading">
      Displaying Book Data using Angular, Bootstrap & Material
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let book of booksArr">
      <div class="postCard card h-100">


        <div class="card-header">
          <h2 class="mb-0" [matTooltip]="book.title" matTooltipPosition="above">
            {{ book.title }}
          </h2>
        </div>


        <div class="card-body">
          <p class="mb-0">{{ book.body }}</p>
        </div>
        <mat-divider inset></mat-divider>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>

<div class="container mt-4">
  <div class="text-center mb-4">
    <h1 class="task-heading">Vehical Data</h1>
    <p class="task-subheading">
      Displaying Vehical Data using Angular, Bootstrap & Material
    </p>
  </div>

  <div class="row">
    <div class="col-md-4 mb-3" *ngFor="let Vehical of vehiclesArr">
      <div class="postCard card h-100">


        <div class="card-header">
          <h2 class="mb-0" [matTooltip]="Vehical.title" matTooltipPosition="above">
            {{ Vehical.title }}
          </h2>
        </div>


        <div class="card-body">
          <p class="mb-0">{{ Vehical.body }}</p>
        </div>
        <mat-divider inset></mat-divider>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-button color="warn">LIKE</button>
          <button mat-button color="primary">SHARE</button>
        </mat-card-actions>
      </div>
    </div>
  </div>
</div>


<div class="container mt-4">
  <div class="text-center mb-4">
    <h1 class="task-heading">Country Data</h1>
    <p class="task-subheading">
      Displaying Country Data using Angular, Bootstrap & Material
    </p>
  </div>
  <div class="row">
    <div *ngFor="let country of countryArr" class="col-md-4 mb-4 h-100">
      <mat-card class="mat-elevation-z5 postCard h-100">
        <mat-card-title>
          <h2 class="mb-0">{{country.title}}</h2>
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content class="pt-3">
          <p class="mb-0">
            {{country.body}}
          </p>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-raised-button color="primary">Edit</button>
          <button mat-raised-button color="warn">Remove</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center mb-4 card-gallery-title">
    Dog Card Gallery
  </h2>
  <div class="row">
    <div *ngFor="let card of cardsArr" class="col-md-4 mb-4 postCard">
      <mat-card class="example-card h-100">

        <mat-card-title-group>
          <mat-card-title>{{ card.title }}</mat-card-title>
          <mat-card-subtitle>{{ card.subtitle }}</mat-card-subtitle>


          <img mat-card-md-image [src]="card.img" [alt]="card.title" />
        </mat-card-title-group>

        <mat-card-content class="card-content">
          {{ card.longText }}
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-raised-button color="primary">Edit</button>
          <button mat-raised-button color="warn">Remove</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>

<div class="container">
  <h2 class="text-center mb-4 card-gallery-title">
    Wallpaper Card Gallery
  </h2>
  <div class="row">
    <div *ngFor="let item of wallpapersArr" class="col-md-4 mb-4 postCard">
      <mat-card class="example-card h-100">

        <mat-card-title-group>
          <mat-card-title>{{ item.title }}</mat-card-title>
          <mat-card-subtitle>{{ item.subtitle }}</mat-card-subtitle>


          <img mat-card-md-image [src]="item.img" [alt]="item.title" />
        </mat-card-title-group>

        <mat-card-content class="card-content">
          {{ item.longText }}
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-raised-button color="primary">LIKE</button>
          <button mat-raised-button color="warn">SHARE</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>


<div class="container">
  <h2 class="text-center mb-4 card-gallery-title">
    Pets Card Gallery
  </h2>
  <div class="row">
    <div *ngFor="let pets of petsArr" class="col-md-4 mb-4 postCard">
      <mat-card class="example-card h-100">

        <mat-card-title-group>
          <mat-card-title>{{ pets.title }}</mat-card-title>
          <mat-card-subtitle>{{ pets.subtitle }}</mat-card-subtitle>


          <img mat-card-md-image [src]="pets.img" [alt]="pets.title" />
        </mat-card-title-group>

        <mat-card-content class="card-content">
          {{ pets.longText }}
        </mat-card-content>
        <mat-card-actions class="d-flex justify-content-between">
          <button mat-raised-button color="primary">Edit</button>
          <button mat-raised-button color="warn">Remove</button>
        </mat-card-actions>

      </mat-card>
    </div>
  </div>
</div>